/client/stockmarkettracker/node_modules/*
/client/stockmarkettracker/public/*
/client/stockmarkettracker/package-lock.json


/server/stockmarketapi/__pycache__/*
/server/server/__pycache__/*
/server/stockmarketapi/migrations/*
/server/stockmarketapi/Scripts/__pycache__/*

/.idea/*